$font_size: 0.8em;

body {
  font-family: $font_family;
  font-size: $font_size;
  font-weight: $font_weight;
  line-height: $line_height;
  color: $text_color;
  background-color: $background_color;
  @include hyphens;
}

a {
  text-decoration: none;
  color: $link_color;
  border-bottom: 1px dotted $text_color;
  &:hover {
    background-color: $link_color_hover;
  }
}

section {
  padding: 2%;
}

h2 {
  font-size: 2em;
}

header {
  float: left;
  background-color: $highlight_color;
  width: 100%;
  h1 {
    text-transform: uppercase;
    padding: 2%;
  }
}

nav {
  clear: both;
  font-size: 1.2em;
  background: $highlight_color;
  padding-left: 2%;
  ul {
    text-transform: uppercase;
    padding-bottom: 0;
    list-style: none;
    li {
      display: inline;
      &.active {
        a {
          background-color: $background_color;
        }
      }
    }
    a {
      border: none;
      padding: 1em 1em 1px 1em;
      background-color: $link_color_hover;
    }
  }
}

footer {
  background-color: $highlight_color;
  padding: 2%;
}

table {
  td {
    vertical-align: top;
  }
  .grandtotal_label {
    text-weight: bold;
    font-size: 2em;
    text-align: right;
    vertical-align: bottom;
    color: #d9534f;
    td {
      padding-left: 1em;
    }
  }
  .grandtotal {
    text-align: left;
  }
  table {
    max-width: 31.4em;
    th, td {
      vertical-align: top;
      overflow: hidden;
      padding: .1em .5em;
    }
    th:nth-child(1), td:nth-child(1) {
      text-align: right;
      min-width: 14.5em;
    }
    th:nth-child(2), td:nth-child(2) {
      text-align: right;
      min-width: 3.8em;
    }
    th:nth-child(3), td:nth-child(3) {
      min-width: 5em;
    }
    th:nth-child(4), td:nth-child(4) {
      min-width: 4.3em;
    }
    .subtotal th {
      font-weight: bold;
      padding-top: 1em;
      padding-bottom: 1em;
    }
    thead {
      background-color: $text_color;
      color: $background_color;
      text-align: left;
    }
    tbody {
      th {
        text-align: left !important;
        background-color: $text_fade;
      }
      tr:nth-child(even) {
        background: $highlight_color;
      }
      .resource {
        font-size: 1.2em;
      }
    }
  }
}

#annual_summary table tr:last-child, #average_by_year table tr:last-child {
  font-weight: bold;
  font-size: 1.2em;
}

#recipient {
  width: 20em;
  font-size: 1.5em;
}

.delete {
  position: relative;
  top: 1.25em;
  font-size: 1.5em;
  border: none;
  font-weight: normal;
}

a.label {
  border: none;
}

ul {
  font-size: 0.75em;
  font-weight: normal;
  color: #999;
  padding: 0.5em 0;
  li {
    padding-left: 0.25em;
  }
}

input.quant {
  max-width: 2em;
}

#submit {
  margin-top: 2em;
  font-size: 2em;
  padding: .25em;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  border-radius: .25em;
  border: none;
  &:hover {
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
  }
}

.admin {
  float: right;
  margin-right: 10%;
  margin-top: -10%;
}

// Small caps
.caps {
  font-style: normal;
  font-size: .8em;
}

.hidden {
  display: none;
}
