{% spaceless %}
{% autoescape false %}

</section>

<footer>
  <p>Welfare Food Order Tracker &bullet; <a href="https://bitbucket.org/jaredhowland/welfare/issues/new">Report a Problem</a> &bullet; {{"now"|date('j F Y')}}</p>
</footer>

</body>
</html>

{% endautoescape %}
{% endspaceless %}
